.hero_block{
	min-height: 100vh;
	padding: 100px 10px;
	font-family: 'IM Fell English SC', serif;
	position: relative;
	.txt_part{
		position: relative;
		z-index: 1;
	}
	h1{
		color: #1f1f1f;
		font-size: 112px;
		line-height: 113px;
		font-weight: normal;
		margin-bottom: 0;
		padding-bottom: 28px;
		@media screen and (max-width: 1280px) {
			font-size: 48px;
			line-height: 48px;
		}
	}
	.banner_anim{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
	.link{
		margin-top: 23px;
		position: relative;
		z-index: 20;
	}
}
.background{
	img{
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}