body{
	background: #0c0c0c;
}
.hero_block{
	height: 100vh;
	width: 100%;
	// padding: 100px 10px;
	font-family: 'IM Fell English SC', serif;
	position: relative;
	.txt_part{
		position: relative;
		z-index: 4;
		
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		@media screen and (max-width: 1000px) {
			// background: red;
			height: 70vh;
			display: flex;
			flex-direction: column;
			padding: 30px 0;
			justify-content:space-between;
			// h1{
			// 	padding-bottom: 100px;
			// }
		}
		// display: none;
	}
	h1{
		// color: #1f1f1f;
		// font-size: 112px;
		// line-height: 113px;
		// font-weight: normal;
		// margin-bottom: 0;
		// padding-bottom: 28px;
		font-size: 0;
		line-height: 0;
		text-indent: -99999px;
		max-width: 600px;
		margin: 0 auto;
		@media screen and (max-width: 1280px) {
			// font-size: 48px;
			// line-height: 48px;
		}
	}
	.banner_anim{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform:translateX(-50%);
		width: 100%;
		height: calc(100vw * 0.6525);
		height: calc(100vw * 0.56);
		// height: calc(100vh * 1.777);
		// height: 100vh;
		overflow: hidden;
		@media (max-aspect-ratio: 16/9) {
			height: 100vh;
			width:  calc(100vh * 1.777);
		}
	}
	.link{
		margin-top: 23px;
		position: relative;
		z-index: 20;
	}
	img{
		// display: none;
	}
}
.mountains{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.town{
	position: absolute;
	right: 5%;
	bottom: 23%;
	// max-width: 53%;
	width: 53%;
}
.camp{
	position: absolute;
	bottom: 0;
	left: 0.5%;
	// max-width: 78.5%;
	width: 78.5%;
}
.templar{
	position: absolute;
	bottom: 0;
	left: -2.6%;
	width: 28%;
	// @media screen and (max-width: 600px) {
	// 	max-width: 50%;
	// }
}
.templarhand{
	position: absolute;
	bottom: 0;
	left: 19%;
	width: 18.3%;
	// @media screen and (max-width: 600px) {
	// 	// left: 36%;
	// }
}
.merc{
	position: absolute;
	bottom: 0;
	right: -1.8%;
	width: 30.1%;
	// @media screen and (max-width: 600px) {
	// 	right: 17%;
	// }
}
.merchand,.coin{
	position: absolute;
	bottom: 9%;
	right: -0.8%;
	width: 18%;
	// @media screen and (max-width: 600px) {
	// 	right: 20%;
	// }
}
.clouds1{
	position: absolute;
	bottom: 45%;
	left: 0;
	width: 100%;
	// background: rgba(#000,.9);
}
.clouds2{
	position: absolute;
	left: 0;
	bottom: 38%;
	z-index: 0;
	width: 100%;
	// width: 60%;
	// background: rgba(green,.3);
}
.clouds3{
	position: absolute;
	left: 0;
	// bottom: 60%;
	top: 0;
	width: 100%;
	// background: rgba(orange,.3);
	// @media (max-aspect-ratio: 16/9) {
	// 	background: red;
	// }
}
@media screen and (max-width: 1000px) {
	.holder_persons{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform:translateX(-50%);
		width:100vw;
		height: 100%;
		// background: red;
		// height: 300px;
		// z-index: 100;
		.templar{
			// max-width: 200px;
			width: calc(200px * 1.5);
			// left: -90px;
			left: calc(-90px * 1.5);
			@media screen and (max-width: 500px) {
				width: calc(200px * 1.2);
				left: calc(-90px * 1.2);
				@media screen and (max-width: 400px) {
					width: calc(200px * 1);
					left: calc(-90px * 1);
				}
			}
		}
		.templarhand{
			// max-width: 130px;
			width: calc(130px * 1.5);
			// left: 68px;
			left: calc(68px * 1.5);
			@media screen and (max-width: 500px) {
				width: calc(130px * 1.2);
				left: calc(68px * 1.2);
				@media screen and (max-width: 400px) {
					width: calc(130px * 1);
					left: calc(68px * 1);
				}
			}
		}
		.merc{
			// max-width: 220px;
			width: calc(220px * 1.5);
			// right: -65px;
			right: calc(-65px * 1.5);
			@media screen and (max-width: 500px) {
				width: calc(220px * 1.2);
				right: calc(-65px * 1.2);
				@media screen and (max-width: 400px) {
					width: calc(220px * 1);
					right: calc(-65px * 1);
				}
			}
		}
		.merchand,.coin{
			// max-width: 120px;
			width: calc(120px * 1.5);
			// right: -20px;
			right: calc(-20px * 1.5);
			@media screen and (max-width: 500px) {
				width: calc(120px * 1.2);
				right: calc(-20px * 1.2);
				@media screen and (max-width: 500px) {
					width: calc(120px * 1);
					right: calc(-20px * 1);
				}
			}
		}
	}
	
}
.coin{
	background: rgba(red,.3);
	height: 38%;
}