.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 29px 10px;
	z-index: 10;
	transition: all 0.7s ease;
	&:before{
		content: "";
		width: 100%;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.66) 17%,rgba(0,0,0,0.49) 38%,rgba(0,0,0,0.19) 71%,rgba(0,0,0,0.05) 90%,rgba(0,0,0,0) 100%);
		transition: all 0.7s ease;
		z-index: -2;
		@media screen and (max-width: 1280px) {
			content: none;
		}
	}
	&.header_scrolled{
		background: rgba(#000,.8);
		@media screen and (max-width: 1280px) {
			background: none;
		}
		&:before{
			top: -100px;
		}
	}
	ul{
		font-weight: normal;
		li,.active{
			margin-left: 40px;
			position: relative;
			a{
				font-size: 18px;
				line-height: 20px;
				color: #fff;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%,-50%);
					width: 200px;
					height: 88px;
					z-index: -1;
					// margin-top: 10px;
					background: url(../images/grad_nav.png) no-repeat;
					opacity: 0;
					transition: all 0.4s ease;
				}
				&:hover{
					text-decoration: none;
					&:after{
						opacity: 1;
					}
				}
			}
		}
		li{
			&.active{
				a{
					&:after{
						opacity: 1;
					}
				}
			}
		}
		&.main_nav{
			font-weight: 300;
			margin-right: auto;
			li{
				margin-left: 0;
				margin-right: 40px;
			}
		}
	}
	@media screen and (max-width: 1280px) {
		ul{
			display: block;
			li{
				margin: 0;
				padding-left: 20px;

				a{
					font-weight: 400;
				}
			}
		}
		.main_nav {
			li{
				position: relative;
				&:after{
					content: "";
					width: 290px;
					height: 5px;
					position: absolute;
					bottom: 0;
					left: 0;
					background: url(../images/mob_border.png) no-repeat;
				}
				a{
					padding-top: 15px;
					padding-bottom: 13px;
					display: inline-block;
				}
			}
		}
		.etc_nav {
			padding-top: 50px;
			li{
				padding-bottom: 32px;
				padding-left: 30px;
				a{
					font-size: 24px;
					line-height: 26px;
				}
			}
		}
	}
}
.btn_mob{
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	z-index: 4;
	right: 25px;
	// top: 43px;
	top: 13px;
	cursor: pointer;
	overflow: hidden;
	// background: red;
	transition: all 0.3s ease;
	text-indent: -9999px;
	background: rgba(#000,.7);
	border-radius: 50%;
	em{
		font-size: 0;
		line-height: 0;
		text-indent: -99999px;
		content: none;
	}
	&:after,&:before,em{
		background: #fff;
		border-radius: 4px;
		position: absolute;
		width: 32px;
		right: 9px;
		height: 3px;
		transition: all .2s linear;
		content:"";
	}
	em{
		top: 25px;
	}
	&:after{
		top: 35px;
		width: 20px;
	}
	&:before{
		top: 13px;
	}
	&.opened{
		top: 43px;
		em{
			opacity: 0;
			background: #fff;
		}
		&:before,&:after{
			transform: rotate(45deg);
			top: 23px;
			right: 7px;
			// left: 0;
			// right: 0;
			width: 35px;
			background: #fff;
			border-radius: 3px;
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
	// &.opened{
	// 	top: 43px;
	// 	em{
	// 		background: #fff;
	// 		&:before,&:after{
	// 			background: #fff;
	// 		}
	// 	}
	// }
	// em{
	// 	display: block;
	// 	height: 3px;
	// 	background: #1f1f1f;
	// 	width: 100%;
	// 	// &:before,&:after{
	// 	// 	content: "";
	// 	// 	width: 100%;
	// 	// 	height: 3px;
	// 	// 	display: block;
	// 	// 	position: absolute;
	// 	// 	top: 12px;
	// 	// 	right: 0;
	// 	// 	z-index: 5;
	// 	// 	background: #1f1f1f;
	// 	// 	.header_scrolled &{
	// 	// 		background: #fff;
	// 	// 	}
	// 	// }
	// 	// &:after{
	// 	// 	width: 24px;
	// 	// 	top: 23px;
	// 	// }
	// 	.header_scrolled &{
	// 		background: #fff;
	// 	}
	// }
	@media screen and (max-width: 1280px) {
		display: block;
	}
}
.nav_holder{
	@media screen and (max-width: 1280px) {
		width: 100%;
		height: 100%;
		background: url(../images/body_bg.png) repeat;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 16px;
		padding-top: 85px;
		display: block;
		transition: all 0.3s ease;
		opacity: 0;
		visibility: hidden;
		// z-index: 30;
		overflow: auto;
		&.opened{
			visibility: visible;
			opacity: 1;
		}
	}
}