.inner_page{
	background: url(../images/body_bg.png) repeat;
	.text_cont{
		position: relative;
		z-index: 4;
		
	}
	.post_item{
		.img_decor{
			display: none;
			@media screen and (max-width: 820px) {
				display: block;
				top: 0 !important;
				left: 0 !important;
				transform:none !important;
				right: auto !important;
				z-index: -1;
			}
		}
	}
	.part_bg{
		padding-top: 160px;
		background: none;
		&:after,&:before{
			content: none;
		}
		@media screen and (max-width: 1280px) {
			padding-top: 80px;
		}
	}
	.hr_mob{
		display: block;
		@media screen and (min-width: 820px) {
			display: none;
		}
	}
	.mt_top{
		margin-top: 30px;
		position: relative;
		z-index: 4;
	}
	.shadow_box{
		position: relative;
		&:before,&:after{
			pointer-events: none;
			content: "";
			width: 238px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.67) 10%,rgba(0,0,0,0.61) 13%,rgba(0,0,0,0.62) 14%,rgba(0,0,0,0.56) 17%,rgba(0,0,0,0.5) 22%,rgba(0,0,0,0.45) 25%,rgba(0,0,0,0.33) 33%,rgba(0,0,0,0.22) 42%,rgba(0,0,0,0.23) 43%,rgba(0,0,0,0.2) 44%,rgba(0,0,0,0.2) 45%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.13) 53%,rgba(0,0,0,0.1) 55%,rgba(0,0,0,0.1) 59%,rgba(0,0,0,0.07) 61%,rgba(0,0,0,0.06) 67%,rgba(0,0,0,0.03) 71%,rgba(0,0,0,0) 100%);
		}
		&:after{
			transform:scale(-1,-1);
			left: auto;
			right: 0;
		}
		@media screen and (max-width: 1280px) {
			&:after,&:before{content: none;}
		}
	}
}
.text_cont{
	.col_6{
		max-width: 50%;
		flex:0 0 50%;
		padding-right: 30px;
		+.col_6{
			padding-right: 0;
			padding-left: 30px;
		}
		@media screen and (max-width: 819px) {
			padding: 0 !important;
			max-width: 100%;
			flex:0 0 100%;
		}
	}
	ul{
		li{
			padding-left: 36px;
			@media screen and (max-width: 819px) {
				padding-left: 0;
			}
		}
	}
}
.w-100{
	width: 100% !important;
}
.slider_block{
	padding-top: 40px;
}
.title_1,.title_2,.title_3{
	@media screen and (min-width: 987px) {
		padding-bottom: 35px !important;
		&:after{
			width: 300px !important;
			height: 20px !important;
			background: url(../images/border_title2.png) no-repeat !important;
			background-size: cover !important;
		}
	}
	@media screen and (max-width: 986px)  {
		margin-bottom: 0 !important;
	}
}
.title_2{
	@media screen and (min-width: 987px) {
		&:after{
			height: 36px !important;
			background: url(../images/border_title3.png) no-repeat !important;
			background-size: cover !important;
			bottom: -13px !important;
		}
	}
}
.title_3{
	@media screen and (min-width: 987px)  {
		&:after{
			height: 36px !important;
			background: url(../images/border_title4.png) no-repeat !important;
			background-size: cover !important;
			bottom: -13px !important;
		}
	}
}
.slider{
	position: relative;
	padding-bottom: 80px;
	.timer_block {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		@media screen and (max-width: 986px) {
			position: static;
		}

	}
	&.slider_one_item {
		.timer_block{
			position: static;
		}
	}
	@media screen and (max-width: 1280px) {
		padding-left: 16px;
		padding-right: 16px;
	}
	@media screen and (max-width: 986px) {
		padding-bottom: 10px;
	}
	&.pt_slider{
		padding-top: 50px;
	}
	ul{
		li{
			margin-right: 60px;
			width: 260px;
			img{
				display: block;
				width: 100%;
				height: auto;
			}
			&.active{
				margin-top: -50px;
				position: relative;
				z-index: 4;
				width: 620px;
				// max-width: 620px;
				// flex:0 0 620px;
			}
			@media screen and (max-width: 1280px) {
				margin-right: 15px;
				@media screen and (max-width: 986px) {
					width: 50vw;
					// max-width: 50vw;
					// flex:0 0 50vw;
				}
				&.active{
					margin-top: -20px;
					@media screen and (max-width: 986px) {
						width: 93vw;
						// max-width: 93vw;
						// flex:0 0 93vw;
						@media screen and (max-width: 650px) {
							width:88vw;
							// max-width:88vw;
							// flex:0 0 88vw;
						}
					}
				}
			}
			a{
				display: block;

				img{
					display: block;
					height: auto;
					width: 100%;
					
				}
			}
		}
	}
	.slider_description{
		padding-top: 50px;
		// padding-top: 20px;
		position: relative;
		z-index: 4;
		// .slider_title{
		// 	p{
		// 		@media screen and (min-width: 987px){
		// 			margin-top: 0;
		// 			// background: red;
		// 		}
		// 	}
		// }
		p{
			color: #ededed;
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 0;
			font-weight: 300;
			// @media screen and (min-width: 987px) {
			// 	margin-top: 20px;
			// }
			b{
				color: #ffcc00;
				font-weight: 600;
			}
			@media screen and (max-width: 986px) {
				font-size: 11px;
				line-height: 16px;
				padding-top: 25px;
			}
		}
		.col_6{
			max-width: 50%;
			flex:0 0 50%;
			position: relative;
			@media screen and (max-width: 986px) {
				max-width: 100%;
				flex:0 0 100%;
				text-align: center;
			}
			// + .col_6{
			// 	max-width: 35%;
			// 	flex:0 0 35%;
			// 	@media screen and (max-width: 986px)  {
			// 		max-width: 100%;
			// 		flex:0 0 100%;
			// 		text-align: center;
			// 	}
			// }
		}

		@media screen and (max-width: 986px) {
			padding-top: 10px;
			.slider_title {
				margin-bottom: 20px;
			}
		}
	}
	&.slider_one_item{
		max-width: 620px;
		// overflow: hidden;
		margin: 0 auto;
		.slider_title {
			width: 100%;
			margin-bottom: 20px;
		}
		.slider_description{
			.col_6{
				max-width: 100%;
				flex:0 0 100%;
				text-align: center;
				// + .col_6{
				// 	max-width: 35%;
				// 	flex:0 0 35%;
				// 	@media screen and (max-width: 986px)  {
				// 		max-width: 100%;
				// 		flex:0 0 100%;
				// 		text-align: center;
				// 	}
				// }
				p{
					padding-top: 20px;
				}
			}
		}
	}
}
.slider_one_item{
	padding-top: 20px !important;
	ul{
		li{
			margin: 0;
			&.active{
				margin-top: 0;
			}
			@media screen and (max-width: 986px) {
				max-width: 620px !important;
				width: 100% !important;
			}
		}
	}
	@media screen and (max-width: 986px) {
		padding-bottom: 30px;
	}
}
.mob_block{
	@media screen and (max-width: 1280px) {
		display: block !important;
	}
}
.d-inline-block{
	display: inline-block !important;
}
.slider_title{
	width: 50%;
	text-align: center;
	margin-bottom: 90px;
	.slider_shift_title &{
		position: absolute;
		right: 0;
		top: -230px;
		margin-bottom: 0;
		@media screen and (max-width: 1280px) {
			// width: calc(100vw - 670px);
			width: calc(100% - 640px);
			@media screen and (max-width: 986px) {
				position: static;
				width: 100%;
				max-width: 300px;
				margin: 0 auto;
			}
		}
	}
	.nav_slider{
		max-width: 40px;
		flex:0 0 40px;
		height: 90px;
		background: url(../images/arrow.png) no-repeat 50% 50%;
		background-size: 22px 19px;
		transition: filter 0.3s ease;
		margin-top: -3px;
		@media screen and (max-width: 986px) {
			max-width: 30px;
			flex:0 0 30px;
			height: 60px;
		}
		&.link_next{
			transform:scale(-1,-1);
		}
		&:hover{
			filter:brightness(2);
		}
	}
	h3{
		text-transform: uppercase;
		font-size: 36px;
		line-height: 47px;
		color: #fff;
		margin: 0;
		position: relative;
		text-shadow: 0 0 20px rgba(255,255,255,0.5);
		max-width: 360px;
		font-weight: normal;
		.slider_one_item &{
			font-size: 48px;
			line-height: 51px;
			max-width: none;
			@media screen and (max-width: 1280px) {
				font-size: 18px;
				line-height: 24px;
			}
		}
		@media screen and (max-width: 986px) {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
			padding: 0 10px;
		}
		&:after{
			content: "";
			width: 300px;
			height: 37px;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-top: 17px;
			transform:translateX(-50%);
			background: url(../images/border_title.png) no-repeat;
			background-size: cover;
			@media screen and (max-width: 986px) {
				content: none;
			}
		}
		@media screen and (max-width: 1280px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.etc_inf{
		// max-width: 360px;
		margin: 0 auto 10px;
		.inf{
			font-size: 18px;
			line-height: 18px;
			color: #959595;
			padding: 0 15px;
		}
		@media screen and (max-width: 1280px) {
			margin-bottom: 18px;
			.inf{
				font-size: 16px;
				line-height: 25px;
				@media screen and (max-width: 986px) {
					display: block;
					max-width: 100%;
					flex:0 0 100%;
				}
			}
		}
	}
	p{
		max-width: 360px;
		padding-top: 67px;
		font-size: 18px !important;
		line-height: 18px !important;
		margin: 0 auto;
		color: #e2e2e2 !important;
		@media screen and (max-width: 1280px)  {
			font-size: 14px !important;
			line-height: 18px !important;
			
			@media screen and (max-width: 986px) {
				padding-top: 15px !important;
			}
		}
	}
}
.mt-120{
	margin-top: 120px;
	@media screen and (max-width: 986px) {
		margin-top: 0;
	}
}
.text_white{
	color: #fff !important;
}
.text_warning{
	color: #ffb400 !important;
}
.title.text_warning{
	text-shadow: 0 0 20px rgba(#ffb400,0.5) !important;
}
.add_decor_title{
	@media screen and (min-width: 987px)  {
		&:before{
			content: "";
			position: absolute;
			bottom: -110px;
			left: 50%;
			transform:translateX(-50%);
			width: 576px;
			height: 251px;
			background: url(../images/title_decor.png) no-repeat;
			background-size: cover;
			z-index: -1;
			opacity: .5;
		}
	}
}
.pt_60{
	padding-top: 60px;
	@media screen and (max-width: 1280px) {
		padding-bottom: 50px;
	}
}
.img_double_decor,.has_decor{
	// position: relative;
	.left_decor,.right_decor{
		position: absolute;
		top: -50px;
		right: 100%;
		margin-right: -20px;
		z-index: -1;
		opacity: .5;
	}
	.right_decor{
		left: 100%;
		right: auto;
		margin-left: -20px;
		margin-right: 0;
	}
	@media screen and (max-width: 986px) {
		display: none;
	}
}
.has_decor{
	max-width: 620px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (max-width: 986px) {
		display: none;
	}
}
.shadow_image{
	position: relative;
	display: block;
	&:after{
		content: "";
		width: 82%;
		height: 82%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		z-index: -1;
		box-shadow: 0 0 300px hsla(220, 60%, 50%, 0.65);
	}
}