.inner_page{
	background: url(../images/body_bg.png) repeat;
	.text_cont{
		position: relative;
		z-index: 4;
		
	}
	.post_item{
		.img_decor{
			display: none;
			@media screen and (max-width: 820px) {
				display: block;
				top: 0 !important;
				left: 0 !important;
				transform:none !important;
				right: auto !important;
				z-index: -1;
			}
		}
	}
	.part_bg{
		padding-top: 160px;
		background: none;
		&:after,&:before{
			content: none;
		}
		@media screen and (max-width: 1280px) {
			padding-top: 80px;
		}
	}
	.hr_mob{
		display: block;
		@media screen and (min-width: 820px) {
			display: none;
		}
	}
	.mt_top{
		margin-top: 30px;
		position: relative;
		z-index: 4;
	}
	.shadow_box{
		position: relative;
		&:before,&:after{
			content: "";
			width: 238px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.67) 10%,rgba(0,0,0,0.61) 13%,rgba(0,0,0,0.62) 14%,rgba(0,0,0,0.56) 17%,rgba(0,0,0,0.5) 22%,rgba(0,0,0,0.45) 25%,rgba(0,0,0,0.33) 33%,rgba(0,0,0,0.22) 42%,rgba(0,0,0,0.23) 43%,rgba(0,0,0,0.2) 44%,rgba(0,0,0,0.2) 45%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.13) 53%,rgba(0,0,0,0.1) 55%,rgba(0,0,0,0.1) 59%,rgba(0,0,0,0.07) 61%,rgba(0,0,0,0.06) 67%,rgba(0,0,0,0.03) 71%,rgba(0,0,0,0) 100%);
		}
		&:after{
			transform:scale(-1,-1);
			left: auto;
			right: 0;
		}
		@media screen and (max-width: 1280px) {
			&:after,&:before{content: none;}
		}
	}
}
.text_cont{
	.col_6{
		max-width: 50%;
		flex:0 0 50%;
		padding-right: 30px;
		+.col_6{
			padding-right: 0;
			padding-left: 30px;
		}
		@media screen and (max-width: 819px) {
			padding: 0 !important;
			max-width: 100%;
			flex:0 0 100%;
		}
	}
	ul{
		li{
			padding-left: 36px;
			@media screen and (max-width: 819px) {
				padding-left: 0;
			}
		}
	}
}
.w-100{
	width: 100% !important;
}
.slider_block{
	padding-top: 40px;
}
.title_1,.title_2,.title_3{
	@media screen and (min-width: 987px) {
		padding-bottom: 35px !important;
		&:after{
			width: 300px !important;
			height: 20px !important;
			background: url(../images/border_title2.png) no-repeat !important;
			background-size: cover !important;
		}
	}
	@media screen and (max-width: 986px)  {
		margin-bottom: 0 !important;
	}
}
.title_2{
	@media screen and (min-width: 987px) {
		&:after{
			height: 36px !important;
			background: url(../images/border_title3.png) no-repeat !important;
			background-size: cover !important;
			bottom: -13px !important;
		}
	}
}
.title_3{
	@media screen and (min-width: 987px)  {
		&:after{
			height: 36px !important;
			background: url(../images/border_title4.png) no-repeat !important;
			background-size: cover !important;
			bottom: -13px !important;
		}
	}
}
.slider{
	position: relative;
	padding-bottom: 80px;
	@media screen and (max-width: 1280px) {
		padding-left: 16px;
		padding-right: 16px;
	}
	@media screen and (max-width: 986px) {
		padding-bottom: 10px;
	}
	&.pt_slider{
		padding-top: 50px;
	}
	ul{
		li{
			margin-right: 80px;
			max-width: 320px;
			&.active{
				margin-top: -50px;
				position: relative;
				z-index: 4;
				max-width: 620px;
			}
			@media screen and (max-width: 1280px) {
				margin-right: 15px;
				@media screen and (max-width: 986px) {
					max-width: 50vw;
				}
				&.active{
					margin-top: -20px;
					@media screen and (max-width: 986px) {
						max-width: 100%;
						width: 93vw;
						@media screen and (max-width: 650px) {
							width:88vw;
						}
					}
				}
			}
			// &.has_decor{
			// 	&:before,&:after{
			// 		content: "";
			// 		position: absolute;
			// 		top: -60px;
			// 		right: 100%;
			// 		width: 313px;
			// 		height: 1036px;
			// 		background: url(../images/slider_left_decor.png) no-repeat;
			// 		background-size: cover;
			// 		z-index: -1;
			// 		margin-right: -20px;
			// 	}
			// 	&:after{
			// 		left: 100%;
			// 		right: auto;
			// 		width: 296px;
			// 		height: 1030px;
			// 		background: url(../images/slider_right_decor.png) no-repeat;
			// 		margin-left: -20px;
			// 		margin-right: 0;
			// 	}
			// }
			a{
				display: block;
				img{
					display: block;
					height: auto;
					width: 100%;
					
				}
			}
		}
	}
	.slider_description{
		padding-top: 50px;
		position: relative;
		z-index: 4;
		p{
			color: #ededed;
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 0;
			font-weight: 300;
			b{
				color: #ffcc00;
				font-weight: 600;
			}
			@media screen and (max-width: 986px) {
				font-size: 11px;
				line-height: 16px;
				padding-top: 25px;
			}
		}
		.col_6{
			max-width: 50%;
			flex:0 0 50%;
			@media screen and (max-width: 986px) {
				max-width: 100%;
				flex:0 0 100%;
				text-align: center;
			}
		}
		@media screen and (max-width: 986px) {
			padding-top: 25px;
			.slider_title {
				margin-bottom: 20px;
			}
		}
	}
	&.slider_one_item{
		max-width: 620px;
		// overflow: hidden;
		margin: 0 auto;
		.slider_title {
			width: 100%;
		}
		.slider_description{
			.col_6{
				max-width: 100%;
				flex:0 0 100%;
				text-align: center;
				p{
					padding-top: 20px;
				}
			}
		}
	}
}
.slider_one_item{
	padding-top: 20px !important;
	ul{
		li{
			margin: 0;
			&.active{
				margin-top: 0;
			}
			@media screen and (max-width: 986px) {
				max-width: 620px !important;
			}
		}
	}
	@media screen and (max-width: 986px) {
		padding-bottom: 30px;
	}
}
.slider_title{
	width: 50%;
	text-align: center;
	margin-bottom: 90px;
	.slider_shift_title &{
		position: absolute;
		right: 0;
		top: -90%;
		margin-bottom: 0;
		@media screen and (max-width: 1280px) {
			// width: 33.33%;
			// transform:translateX(-20%);
			// padding: 0 20px;
			width: calc(100vw - 660px);
			// background: red;
			@media screen and (max-width: 986px) {
				position: static;
				width: 300px;
				margin: 0 auto;
			}
		}
	}
	.nav_slider{
		max-width: 40px;
		flex:0 0 40px;
		height: 40px;
		background: url(../images/arrow.png) no-repeat 50% 50%;
		background-size: 22px 19px;
		transition: filter 0.3s ease;
		@media screen and (max-width: 986px) {
			max-width: 30px;
			flex:0 0 30px;
			height: 30px;
		}
		&.link_next{
			transform:scale(-1,-1);
		}
		&:hover{
			filter:brightness(2);
		}
	}
	h3{
		text-transform: uppercase;
		font-size: 48px;
		line-height: 61px;
		color: #fff;
		padding: 0 10px;
		margin: 0;
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		position: relative;
		text-shadow: 0 0 20px rgba(255,255,255,0.7);
		&:after{
			content: "";
			width: 300px;
			height: 37px;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-top: 10px;
			transform:translateX(-50%);
			background: url(../images/border_title.png) no-repeat;
			background-size: cover;
			@media screen and (max-width: 986px) {
				content: none;
			}
		}
		@media screen and (max-width: 1280px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
.text_warning{
	color: #ffb400 !important;
}
.title.text_warning{
	text-shadow: 0 0 20px rgba(#ffb400,0.7) !important;
}
.add_decor_title{
	@media screen and (min-width: 987px)  {
		&:before{
			content: "";
			position: absolute;
			bottom: -110px;
			left: 50%;
			transform:translateX(-50%);
			width: 576px;
			height: 251px;
			background: url(../images/title_decor.png) no-repeat;
			background-size: cover;
			z-index: -1;
		}
	}
}
.pt_60{
	padding-top: 60px;
	@media screen and (max-width: 986px) {
		padding-bottom: 50px;
	}
}
.img_double_decor,.has_decor{
	// position: relative;
	.left_decor,.right_decor{
		position: absolute;
		top: -50px;
		right: 100%;
		margin-right: -20px;
		z-index: -1;
	}
	.right_decor{
		left: 100%;
		right: auto;
		margin-left: -20px;
		margin-right: 0;
	}
	@media screen and (max-width: 986px) {
		display: none;
	}
}
.has_decor{
	max-width: 620px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@media screen and (max-width: 986px) {
		display: none;
	}
}