body{
	font: 16px/1.2 'Josefin Sans', sans-serif;
	color: #505050;
	background: #fff;
}
h1,h2,h3{
	font-family: 'IM Fell English SC', serif;
}
.flex-wrap{
	flex-wrap: wrap;
}
.d-flex{
	display: flex;
}
.align-items-center{
	align-items:center;
}
.justify-content-center{
	justify-content:center;
}
.justify-content-between{
	justify-content:space-between;
}
.list-unstyled{
	margin: 0;
	padding: 0;
	list-style: none;
}
.centered{
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
.flex-column{
	flex-direction: column;
}
.text-center{
	text-align: center;
}
.btn_var_1{
	width: 500px;
	height: 138px;
	font-size: 33px;
	line-height: 24px;
	color: #d9d9d9;
	text-align: center;
	background: url(../images/btn_var_1-border.png) no-repeat;
	background-size: cover;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	text-shadow:0 8px 10px  rgba(#000,.35);
	position: relative;
	// z-index: 5;
	&:before{
		content: "";
		background: url(../images/textura_var_1.png) repeat;
		position: absolute;
		top: 10%;
		left: 2%;
		width: 97%;
		height: 74%;
		z-index: -1;
	}
	span{
		position: relative;
		// z-index: 1;
		width: 97%;
		height: 74%;
		&:after{
			content: "";
			background: radial-gradient(to top,#7b2327 0%, transparent);
			position: absolute;
			top: 0;
			left: 1%;
			width: 99%;
			height: 94%;
			z-index: -1;
			opacity: 0;
			transition: all 0.9s ease;
		}
	}
	&:hover{
		text-decoration: none;
		color: #d9d9d9;

		span{
			&:after{
				opacity: 1;
				transition: all 0.8s ease;
			}
		}
	}
	&.btn_lg{
		font-size: 42px;
		line-height: 43px;
		width: 640px;
		height: 176px;
	}
}
.btn_var_2{
	width: 340px;
	height: 81px;
	font-size: 24px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background: url(../images/btn_var_2-border.png) no-repeat;
	background-size: cover;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	text-shadow:0 8px 10px  rgba(#000,.35);
	position: relative;
	text-transform: uppercase;
	span{
		position: relative;
		z-index: 2;
	}
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/btn_var_2-border_hover.png) no-repeat;
		background-size: cover;
		z-index: 1;
		opacity: 0;
		transition: all 0.8s ease;
	}
	&:hover{
		text-decoration: none;
		color: #fff;
		&:after{
			opacity: 1;
		}
	}
}
.has_shadow{
	&:after,&:before{
		content: "";
		width: 440px;
		height: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		top: 0;
		z-index: 2;
		background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 26%,rgba(0,0,0,0.06) 31%,rgba(0,0,0,0.08) 38%,rgba(0,0,0,0.09) 44%,rgba(0,0,0,0.13) 46%,rgba(0,0,0,0.14) 50%,rgba(0,0,0,0.17) 51%,rgba(0,0,0,0.18) 53%,rgba(0,0,0,0.17) 54%,rgba(0,0,0,0.21) 56%,rgba(0,0,0,0.25) 61%,rgba(0,0,0,0.31) 64%,rgba(0,0,0,0.34) 68%,rgba(0,0,0,0.38) 70%,rgba(0,0,0,0.37) 71%,rgba(0,0,0,0.42) 73%,rgba(0,0,0,0.53) 81%,rgba(0,0,0,0.55) 82%,rgba(0,0,0,0.55) 83%,rgba(0,0,0,0.69) 91%,rgba(0,0,0,0.71) 94%,rgba(0,0,0,0.74) 96%,rgba(0,0,0,0.76) 97%,rgba(0,0,0,0.8) 100%);
		// background: red;
	}
	&:before{
		right: auto;
		left: 0;
		transform:scale(-1,1);
	}
}