body{
	font: 16px/1.2 'Josefin Sans', sans-serif;
	color: #505050;
	background: #fff;
}
h1,h2,h3{
	font-family: 'IM Fell English SC', serif;
}
.flex-wrap{
	flex-wrap: wrap;
}
.d-flex{
	display: flex;
}
.align-items-center{
	align-items:center;
}
.justify-content-center{
	justify-content:center;
}
.justify-content-between{
	justify-content:space-between;
}
.list-unstyled{
	margin: 0;
	padding: 0;
	list-style: none;
}
.centered{
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
.flex-column{
	flex-direction: column;
}
.text-center{
	text-align: center;
}
.btn_lg{
	font-size: 42px;
	line-height: 43px;
	width: 640px;
	height: 176px;
}
.btn_var_1{
	width: 500px;
	height: 138px;
	font-size: 33px;
	line-height: 24px;
	color: #d9d9d9;
	text-align: center;
	background: url(../images/btn_var_1-border.png) no-repeat;
	background-size: cover;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	text-shadow:0 8px 10px  rgba(#000,.35);
	position: relative;
	// z-index: 5;
	&:before{
		content: "";
		background: url(../images/textura_var_1.png) repeat;
		position: absolute;
		top: 10%;
		left: 2%;
		width: 97%;
		height: 74%;
		z-index: -1;
	}
	span{
		position: relative;
		// z-index: 1;
		width: 97%;
		height: 74%;
		&:after{
			content: "";
			background: radial-gradient(to top,#7b2327 0%, transparent);
			position: absolute;
			top: 0;
			left: 1%;
			width: 99%;
			height: 94%;
			z-index: -1;
			opacity: 0;
			transition: all 0.9s ease;
		}
	}
	&:hover{
		text-decoration: none;
		color: #d9d9d9;

		span{
			&:after{
				opacity: 1;
				transition: all 0.8s ease;
			}
		}
	}
	
	@media screen and (max-width: 1280px)  {
		width: 290px;
		height: 80px;
		font-size: 19px;
		line-height: 20px;
	}
}
.btn_var_2{
	width: 340px;
	height: 81px;
	font-size: 24px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background: url(../images/btn_var_2-border.png) no-repeat;
	background-size: cover;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	text-align: center;
	text-shadow:0 8px 10px  rgba(#000,.35);
	position: relative;
	text-transform: uppercase;
	span{
		position: relative;
		z-index: 2;
	}
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/btn_var_2-border_hover.png) no-repeat;
		background-size: cover;
		z-index: 1;
		opacity: 0;
		transition: all 0.8s ease;
	}
	&:hover{
		text-decoration: none;
		color: #fff;
		&:after{
			opacity: 1;
		}
	}
	@media screen and (max-width: 1280px) {
		font-size: 21px;
		line-height: 23px;
		width: 290px;
		height: 69px;
	}
}
.img-fluid{
	display: block;
	max-width: 100%;
	height: auto;
}
.md_block{
	@media screen and (max-width: 1280px) {
		display: block;
		// padding-bottom: 6px;
	}
}
.view_back{
	height: 600px;
	width: 100%;
	background: url(../images/back.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	z-index: 1;
	@media screen and (max-width: 1280px){
		height: 300px;
	}

}

.hr_mob{
	width: 200px;
	height: 13px;
	background: url(../images/hr_mob.png) no-repeat;
	background-size: cover;
	display: none;
	margin: 0 auto 30px;
	position: relative;
	transform:translateX(-20px);
	// &:after{
	// 	content: "";
	// 	width: 9999px;
	// 	height: 13px;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 50%;
	// 	background: url(../images/hr_mob.png) no-repeat 50% 0;
	// 	background-size: 200px 13px;
	// 	transform:translateX(-50%);
	// }
	
	.post_item_inverse  &{
		transform:translateX(20px);
	}
	@media screen and (max-width: 1280px) {
		display: block;
	}
}