.road_map{
	width: 1280px;
	height: 1920px;
	background: url(../images/map/map_bg.webp) no-repeat;
	position: relative;
	.paint_part{
		// background: rgba(red,.05);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		*{
			position: absolute;
		}
		.forest1{
			top: 433px;
			left: 5px;
		}
		.forest2{
			top: 603px;
			left: 19px;
		}
		.forest3{
			top: 636px;
			right: -2px;
		}
		.forest4{
			top: 604px;
			right: -1px;
		}
		.w1{
			top: -2px;
			left: 0;
		}
		.w2{
			top: 1158px;
			right: 78px;
		}
		.w3{
			top: 1084px;
			right: 605px;
		}
		.w4{
			top: 1336px;
			right: 565px;
		}
		.w5{
			top: 1058px;
			left: -4px;
		}
		.w6{
			bottom: 2px;
			left: 6px;
		}
		.m1{
			left: 0;
			top: 67px;
		}
		.m2{
			left: 526px;
			top: 361px;
		}
		.m3{
			right: -7px;
			top: 92px;
		}
		.m4{
			right:489px;
			top: 575px;
		}
		.m5{
			left:16px;
			top: 905px;
		}
		.m6{
			left:430px;
			top: 1030px;
		}
		.m7{
			right:0;
			bottom: 398px;
		}
		.m8{
			right:0;
			bottom: 1px;
		}
		.grass1{
			top: 53px;
			left: 532px;
		}
		.grass2{
			top: 70px;
			right: 47px;
		}
		.grass3{
			top: 312px;
			right: 145px;
		}
		.grass4{
			top: 602px;
			right: 263px;
		}
		.grass5{
			top: 443px;
			left: 445px;
		}
		.grass6{
			bottom: 0;
			left: 63px;
		}
		.s1{
			top: 167px;
			left: 579px;
		}
		.s2{
			top: 430px;
			left:471px;
		}
		.s3{
			top: 139px;
			right:171px;
		}
		.s4{
			top: 485px;
			right:334px;
		}
		.s5{
			top: 776px;
			left:424px;
		}
		.s6{
			top: 967px;
			left:372px;
		}
		.s7{
			top: 967px;
			right:355px;
		}
		.s8{
			top: 1188px;
			right:279px;
		}
		.s9{
			top: 1202px;
			left:481px;
		}
		.s10{
			bottom: 282px;
			left:265px;
		}
		.cross{
			bottom: 198px;
			left: 226px;
		}
	}
	.txt_part{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	[class *= "step_"]{
		color: #171717;
		position: absolute;
		.bg_step{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		h4,p,.line_decor{position: relative;z-index: 2;}
		h4{
			font-size: 30px;
			line-height: 32px;
			font-weight: 600;
			margin-bottom: 3px;
		}
		p{
			font-size: 18px;
			line-height: 20px;
			font-weight: 400;
			margin-bottom: 20px;
		}
		.line_decor{
			margin-bottom: 20px;
			width: 307px;
			height: 5px;
			margin-left: -20px;
			background: url(../images/map/line_decor.png) no-repeat;
			background-size: cover;
		}
		&.step_1{
			width: 397px;
			height: 208px;
			top: 162px;
			left: 210px;
			padding: 15px 0 0 55px;
			.bg_step{
				background: url(../images/map/step_1/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: 54px;
				left: -41px;
			}
		}
		&.step_2{
			width: 375px;
			height: 165px;
			top: 151px;
			left: 737px;
			padding: 15px 0 0 35px;
			.bg_step{
				background: url(../images/map/step_2/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: 116px;
				left: -65px;
			}
		}
		&.step_3{
			width: 341px;
			height: 138px;
			top: 484px;
			left: 720px;
			padding: 23px 0 0 35px;
			.bg_step{
				background: url(../images/map/step_3/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: 126px;
				right: -46px;
			}
		}
		&.step_4{
			width: 418px;
			height: 239px;
			top: 417px;
			left: 92px;
			padding: 23px 0 0 61px;
			.bg_step{
				background: url(../images/map/step_4/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: 50px;
				right: -98px;
			}
		}
		&.step_5{
			width: 423px;
			height: 182px;
			top: 786px;
			left: 201px;
			padding: 10px 0 0 61px;
			.bg_step{
				background: url(../images/map/step_5/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: 96px;
				left: -22px;
			}
		}
		&.step_6{
			width: 418px;
			height: 188px;
			top: 986px;
			left: 669px;
			padding: 10px 0 0 51px;
			.bg_step{
				background: url(../images/map/step_6/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: -92px;
				right: 1px;
			}
		}
		&.step_7{
			width: 443px;
			height: 270px;
			top: 1299px;
			left: 694px;
			padding: 10px 0 0 51px;
			.bg_step{
				background: url(../images/map/step_7/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				top: -66px;
				left: -14px;
			}
		}
		&.step_8{
			width: 449px;
			height: 330px;
			top: 1079px;
			left: 133px;
			padding: 10px 0 0 38px;
			.bg_step{
				background: url(../images/map/step_8/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				bottom: -73px;
				left: 47px;
			}
		}
		&.step_9{
			width: 454px;
			height: 205px;
			bottom: 158px;
			left: 346px;
			padding: 10px 0 0 60px;
			.bg_step{
				background: url(../images/map/step_9/bg.png) no-repeat;
			}
			.img_tower{
				position: absolute;
				bottom: -38px;
				left: -135px;
			}
		}
	}
	@media screen and (max-width: 1280px) {
		width: 100%;
		height: auto;
		background: none;
		svg,.paint_part,.bg_step,.img_item{display: none !important;}
		.txt_part{
			padding: 0 20px 50px;
			display: flex;
			flex-wrap: wrap;
		}
		[class *= "step_"],.txt_part{
			position: static;
			height: auto !important;
		}
		[class *= "step_"]{
			width: 100%;
			max-width: 33.33%;
			flex:0 0 33.33%;
			padding: 10px 10px !important;
			.line_decor{
				margin-left: 0;
				background: #fff;
				width: 290px;
				height: 5px;
				background: url(../images/map/line_decor_mob.png) no-repeat;
				background-size: cover;
				width: 70%;
				@media screen and (max-width: 800px)  {
					width: 290px;
				}
			}
			h4{
				color: #fff;
				padding-left: 20px;
				text-shadow:0 0 20px  rgba(#fff,.7);
			}
			p{
				font-size: 18px;
				line-height: 20px;
				color: #ececec;
				br{display: none;}
			}
			@media screen and (max-width: 800px) {
				max-width: 100%;
				flex:0 0 100%;
				padding-left: 0 !important;
				padding-bottom: 0 !important;
			}
		}
	}
}