@import
'_reboot.scss',
'_param',
'_header',
'_roadmap',
'_banner',
'_inner',
'_footer.scss',
'_fonts.scss';

.wrapper{
	overflow: hidden;
	// position: relative;
	// z-index: 2000;
}
.shadow_box{
	position: relative;
	z-index: 4;
}
.part_bg{
	background: url(../images/body_bg.png) repeat;
	position: relative;
	&:before{
		content: "";
		background: url(../images/body_bg.png) repeat;
		width: 100%;
		height: 260px;
		position: absolute;
		top: -260px;
		left: 0;
		mask: url(../images/mask.png)  0 0  no-repeat;
		mask-size: 100% 260px;
		z-index: 1;
		@media screen and (max-width: 1920px) {
			width: 1920px;
			left: 50%;
			transform:translateX(-50%);
			// background: red;
		}
	}
	&.has_bottom{
		&:after{
			content: "";
			background: url(../images/body_bg.png) repeat;
			width: 100%;
			height: 260px;
			mask: url(../images/mask.png)  0 0  no-repeat;
			mask-size: 100% 260px;
			bottom: -260px;
			left: 0;
			position: absolute;
			transform:scale(-1,-1);
			z-index: 2;
			@media screen and (max-width: 1920px) {
				width: 1920px;
				left: 50%;
				transform:translateX(-50%) scale(-1,-1);
			}
		}
	}
	&.top_section{
		&:before{
			height: 150px;
			top: -150px;
			mask-size: 100% 150px;
		}
	}
}

.title{
	font-size: 48px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 60px;
	margin-bottom: 70px;
	font-weight: normal;
	text-shadow:0 0 20px  rgba(#fff,.5);
	&:after{
		content: "";
		width: 300px;
		height: 37px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform:translateX(-50%);
		background: url(../images/border_title.png) no-repeat;
		background-size: cover;
	}
	@media screen and (max-width: 1280px) {
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 40px;
		margin-bottom: 30px;
		&:after{
			width: 200px;
			height: 25px;
		}
	}
}
.top_section{
	padding-top: 150px;
	@media screen and (max-width: 1280px) {
		padding-top: 80px;
	}
}
.img_block{
	position: absolute;
	top: 0;
	right: 0;
	transform:translateX(40%);
	z-index: 1;
	// max-width: 45%;
	max-width: 850px;
	.post_item_inverse &{
		right: auto;
		left: 0;
		transform:translateX(-32%);
	}
	.token_section &{
		// background: red;
		top: 500px;
		right: 0;
		transform:translateX(45%);
	}
	@media screen and (max-width: 1280px) {
		position: static;
		transform:none !important;
		margin: 0 auto 40px;
		width: 400px;
		// img{
		// 	width: 400px;
		// }
		@media screen and (max-width: 400px) {
			// margin: 0 -40px 40px;
			transform: scale(1.2) !important;
			margin-bottom: 60px;
			padding-top: 30px;
		}
	}
}
.post_item{
	position: relative;
	padding-bottom: 60px;
	.img_decor{
		position: absolute;
		top: 0;
		right: 100%;
		transform:translateX(-40px);
		z-index: 3;
	}
	.text_cont{
		&:before{
			content: "";
			width: 260px;
			height: 282px;
			position: absolute;
			top: 0;
			left: 0;
			background: url(../images/corner.png) no-repeat;
			background-size: cover;
			@media screen and (max-width: 1280px) {
				left: 15px;
				background: url(../images/corner_mob.png) no-repeat;
				background-size: cover;
				width: 257px;
				height: 269px;
			}
		}
	}
	&.post_item_inverse{
		justify-content:flex-end;
		.img_decor{
			right: auto;
			left: 100%;
			transform:translateX(30px);
		}
		.text_cont{
			&:before{
				left: auto;
				right: 0;
				transform:scale(-1,1);
			}
			@media screen and (max-width: 1280px) {
				padding: 40px 65px 0 34px;
				&:before{
					right: 15px;
				}
			}
		}
	}
	@media screen and (max-width: 1280px) {
		padding-bottom: 30px;
		
		.img_decor{
			// transform:none  !important;
			// background: red !important;
			// left: 50% !important;
			// right: auto !important;
			// top: 0 !important;
			// display: none; 
		}
	}
}
.text_cont{
	padding: 70px 80px 0;
	width: 720px;
	position: relative;
	z-index: 3;
	.post_item_inverse & {
		// margin-left: auto;
	}
	*{
		position: relative;
		z-index: 1;
	}
	p{
		font-size: 20px;
		line-height: 40px;
		color: #ededed;
		font-weight: 300;
		margin-bottom: 43px;
		strong,b{
			font-weight: 600;
		}
		b{
			color: #ffcc00;
		}
	}
	@media screen and (max-width: 1280px) {
		width: 100% !important;
		padding: 40px 15px 0 65px;

		p{
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 30px;
		}
		.img_decor{
			top: 0;
			// left: 50% !important;
			// right: auto !important;
			// transform:translateX(-50%) !important;
			left: 35px;
			transform:none;
			opacity: 0.8;
			z-index: -1;
			.post_item_inverse &{
				// background: red;
				left: auto;
				right: 35px;
			}
			.token_section &{
				top: 0;
			}
			@media screen and (max-width: 850px) {
				top: 70px !important;
				right: auto !important;
				left: 50% !important;
				transform:translateX(-50%) !important;
				// .post_item_inverse &{
				// 	// transform:translateX(-50%);
				// }
			}
		}
	}
}
.text_part{
	padding-bottom: 55px;
	position: relative;
	z-index: 3;
	p{
		font-size: 20px;
		line-height: 40px;
		color: #ededed;
		font-weight: 300;
		// font-style: italic;
		strong,b{
			font-weight: 600;
		}
		b{
			color: #ffcc00;
		}
	}
	.label_link{
		// display: inline-block;
		width: 561px;
		height: 194px;
		background: url(../images/bg_label.webp) no-repeat;
		background-size: cover;
		img{
			max-width: 400px;
		}
		@media screen and (max-width: 1280px)  {
			width: 290px;
			height: 100px;
			margin-left: -20px;
			img{
				max-width: 207px;
			}
		}
	}
	@media screen and (max-width: 1280px) {
		padding-left: 35px;
		padding-right: 15px;
		p{
			font-size: 16px;
			line-height: 30px;
		}
	}
}
.link_large{
	font:30px/33px 'IM Fell English SC', serif;
	color: #fff;
	position: relative;
	z-index: 2;
	text-shadow:0 5px 8px  rgba(#000,.5);
	&:before{
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		background: url(../images/grad_link_large.png) no-repeat;
		background-size: cover;
		opacity: 0;
		transition: all 0.8s ease;
		z-index: -1;
	}
	&:hover{
		color: #fff;
		text-decoration: none;
		&:before{
			opacity: 1;
			width: 320px;
			height: 140px;
		}
	}
	@media screen and (max-width: 1280px) {
		font-size: 18px;
		line-height: 20px;
	}
}
.token_section{
	padding-top: 200px;
	position: relative;
	.img_decor{
		top: -300px;
	}
	.footer_section{
		padding-left: 80px;
		position: relative;
		z-index: 3;
		padding-bottom: 100px;
		.btn{
			margin-right: 70px;
		}
	}
	@media screen and (max-width: 1280px) {
		padding-top: 0;
		.footer_section{
			padding-left: 65px;
			padding-bottom: 50px;
			@media screen and (max-width: 800px) {
				padding-left: 0;
				padding-right: 0;
				justify-content:center;
				text-align: center;
				.link_holder{
					max-width: 100%;
					flex:0 0 100%;
					margin-top: 30px;
				}
				a{
					margin: 10px !important;
				}
			}
		}
		.post_item {
			padding-bottom: 0;
		}
	}
}
.bottom_section{
	padding-top: 100px;
	@media screen and (max-width: 1280px) {
		padding-top: 50px;
	}
}
.img_block {
    transform-style: preserve-3d;
    will-change: auto;
    mask:url(../images/map/splash-mask.png) center no-repeat;
    mask-size: 6000px;
}